body{
    margin: 0;
    padding: 0;
    /* =========== */
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
    /* =========== */
    font-family: sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
h1{
    text-align: center;
    z-index: 2;
    color: aliceblue;
}
.header h1{
    text-align: center;
    z-index: 2;
    position: relative;
    color: antiquewhite;
}
.car-info{
    margin-left: 20px;
    margin-right: 20px;
}
.car-info h3{
    font-size: 50px;
    color: blue;
}
.car-info .info{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-gap: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-items: center;
    text-align: center;
    }
.car-info p{
    color: aqua;
    font-size: 15px;
    max-width: 600px;
}
@media screen and (max-width: 800px) {
    .car-info p{
        font-size: 10xp;
        max-width: 550px;
    }
    .car-info .maps{
        max-width: 550px;
        height: 100px;
    }    
}
.car-info .maps{
    max-width: 500px;
    height: 100px;
    border-color: #ff0000;
    border-style:solid ;
}
.car-info .maps h2{
    text-align: center;
    justify-content: center;
    display: flex;
    color: #ff0000;
    margin-left: 50px;
    margin-right: 50px;
}
.car{
    justify-content: center;
    display: flex;
    align-items: center;
    position:fixed;
    top:0px;  
    bottom:0px;
    width: 100%; 
}
.car h2{
    text-align: center;
    color: antiquewhite;
}
.car input{
    width: 250px;
    height: 20px;
    border-radius: 30px;
    font-size: 20px;
}
.car button{
    position: absolute;
    border-radius: 30px;
    height: 30px;
    width: 65px;
    font-size: 20px;
    background-color: #131313;
    color: aliceblue;
}